<html>

<head>

</head>

<body>
    <!-- <app-profiles></app-profiles> -->
    <div class="all">

        <div class="content">
            <h1>Github Search</h1>
            <h4> Have you ever wanted to search for your friends github Information?</h4>
            <h4>This site give you an easy way to search for the info</h4>
            <h4>Click below to search for the git hub name</h4>
            <a routerLink='profileSearch'>Search for any profile on Github</a>
        </div>

    </div>
    <router-outlet></router-outlet>
</body>


</html>
<router-outlet></router-outlet>