        /* You can add global styles to this file, and also import other style files */
        
        @import "~bootstrap/dist/css/bootstrap.css";
        body {
            background-image: url('src\app\images\pexels-junior-teixeira-2072060.jpg');
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }