.repos {
    border: 5px;
    border-color: black;
    background-color: blanchedalmond;
    margin: 30px;
    float: left;
    justify-content: center;
    align-items: center;
}

.searchform {
    padding: 10px;
}

img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
}

.col-md-9 {
    justify-content: center;
    padding: 50px;
}

button {
    margin: 5px;
}

.btn-sm {
    width: 80px;
}