.repos {
    border: 5px;
    margin: 50px;
    /* float: center; */
    justify-content: center;
    align-items: center;
}

.searchform {
    padding: 10px;
}

img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
}

.col-md-7 {
    justify-content: center;
}

button {
    margin: 5px;
}

.btn-sm {
    width: 80px;
}

.container {
    background-color: rgb(93, 93, 136);
}